PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
MONGO_URI=
SESSION_SECRET=dhjdkklvolv.vbgerueiidksdjvhi.fugiwkmvb
JWT_SECRET=fdgfhgj.6679ghj6576879dfgj
JWT_EXPIRE=7d
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

CASHFREE_APP_ID=
CASHFREE_SECRET_KEY=